@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: medium;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  height: 100%;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
}

.container {
  width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
}

.main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main--projects {
  justify-content: start;
}

.social {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  width: 100px;
}

.social__link:hover .social__img--bg {
  fill: #008272;
}

.project__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.project__item {
  display: grid;
  column-gap: 25px;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;
  padding-bottom: 30px;
}

.project__img {
  grid-row: 1/-1;
}
