  <footer class="page-footer">
    <div class="page-footer__copyright copyright container">
      <p class="copyright__text">
        &copy <a class="copyright__link" href="mailto:a.vafin85@gmail.com">Artem Vafin</a> 2020
      </p>
      <p class="copyright__text">
        Icon made by <a class="copyright__link" href="https://www.flaticon.com/authors/freepik" target="_blank" rel="noreferrer">Freepik</a> from <a
          class="copyright__link" href="https://www.flaticon.com/">www.flaticon.com</a>
      </p>
    </div>
  </footer>
  <div class="page-up">
    <button type="button" class="page-up__btn">
      <svg class="page-up__icon" width="30" height="16">
        <use xlink:href="../../img/sprite.svg#icon-arrow"></use>
      </svg>
    </button>
  </div>
  <script src="../../js/script.min.js"></script>
</body>

</html>
