<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Сайт портфолио Вафина Артёма - junior frontend-разработчика. Здесь представлены его работы и информация о нём.">
  <meta name="theme-color" content="#ffffff">
  <title>Maffin.pw - Артем Вафин начинающий Фронтенд разработчик</title>
  <meta name="google-site-verification" content="A6p4bdDj25SlPUYyZeuQrL7zSCkXp_1RoPTkMCEo2Us" />
  <link rel="icon" href="/favicon.svg">
  <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
  <link rel="manifest" href="/img/favicon/site.webmanifest">
  <link rel="preload" href="/fonts/roboto-bold.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="/fonts/roboto-light.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="/fonts/roboto-medium.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="/fonts/roboto-regular.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="/fonts/roboto-thin.woff2" as="font" crossorigin="anonymous">
  <link href="/css/styles.min.css" rel="stylesheet">
</head>

<body>
  <header class="page-header">
    <div class="page-header__wrapper container">
      <nav class="page-header__nav navigation">
        <ul class="navigation__list">
          <li class="navigation__item"><a href="#about" class="navigation__link">Обо мне</a></li>
          <li class="navigation__item"><a href="#npm" class="navigation__link">NPM пакеты</a></li>
          <li class="navigation__item"><a href="#projects" class="navigation__link">Проекты</a></li>
        </ul>
      </nav>
      <div class="page-header__contacts contacts">
        <p class="contacts__text">Телефон:&nbsp;<a href="tel:+79123918684" class="contacts__link">+7 912 391 86 84</a></p>
        <p class="contacts__text">Email:&nbsp;<a href="mailto:a.vafin85@gmail.com"
            class="contacts__link">a.vafin85@gmail.com</a></p>
      </div>
      <div class="page-header__logo logo">
        <a href="index.html" class="logo__link">
          <img src="img/muffin.svg" width="70" height="70" alt="maffin.pw" class="logo__img">
        </a>
      </div>
      <div class="page-header__social social">
        <ul class="social__list">
          <li class="social__item">
            <a href="https://vk.com/a_vafin" target="_blank" rel="noreferrer" class="social__link social__link--vkontakte"
              aria-label="Страница Вконтакте">
              <svg class="social__img social__img--vkontakte" width="40" height="40">
                <use xlink:href="img/sprite.svg#icon-vkontakte"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="https://www.instagram.com/artem_vafin/" target="_blank" rel="noreferrer" class="social__link social__link--instagram"
              aria-label="Страница Instagramm">
              <svg class="social__img social__img--insta" width="40" height="40">
                <use xlink:href="img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="https://github.com/VafinArtem" target="_blank" rel="noreferrer" class="social__link social__link--github"
              aria-label="Страница GitHub">
              <svg class="social__img social__img--insta" width="40" height="40">
                <use xlink:href="img/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
