<section class="popup js-popup">
  <div class="popup__wrapper">
    <button class="popup__close js-close-popup"></button>
    <div class="popup__gallery gallery js-slider">
      <ul class="gallery__list">
        <li class="gallery__item js-slide js-slide-active">
          <picture>
            <source type="image/webp" srcset="img/html_1@1x.webp 1x, img/html_1@2x.webp 2x">
            <img src="/img/html_1@1x.jpg" width="500" height="700" alt="Сертификат о прохождение курса"
              class="gallery__img" src="img/html_1@2x.jpg 2x">
          </picture>
        </li>
        <li class="gallery__item js-slide js-slide-next">
          <picture>
            <source type="image/webp" srcset="img/html_2@1x.webp 1x, img/html_2@2x.webp 2x">
            <img src="/img/html_2@1x.jpg" width="500" height="700" alt="" class="gallery__img"
              src="img/html_2@2x.jpg 2x">
          </picture>
        </li>
        <li class="gallery__item js-slide">
          <picture>
            <source type="image/webp" srcset="img/js_1@1x.webp 1x, img/js_1@2x.webp 2x">
            <img src="/img/js_1@1x.jpg" width="500" height="700" alt="" class="gallery__img" src="img/js_1@2x.jpg 2x">
          </picture>
        </li>
        <li class="gallery__item js-slide">
          <picture>
            <source type="image/webp" srcset="img/js_2@1x.webp 1x, img/js_2@2x.webp 2x">
            <img src="/img/js_2@1x.jpg" width="500" height="700" alt="" class="gallery__img" src="img/js_2@2x.jpg 2x">
          </picture>
        </li>
      </ul>
      <div class="gallery__controls">
        <button class="gallery__button js-slider-arr-prev" disabled>Назад</button>
        <button class="gallery__button js-slider-arr-next">Вперёд</button>
      </div>
    </div>
  </div>
</section>
