.about {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 25px;
}

.about__wrapper {
  border: 1px solid transparentize($basic-black, 0.7);
  box-shadow: 0 6px 10px transparentize($basic-black, 0.8);

  &--text {
    border: none;
    box-shadow: none;
    padding-top: 30px;
  }
}

.about__img {
  display: block;
}

.about__title {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
}

.about__text {
  margin: 0;
  padding-top: 15px;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
}
