.contacts__text {
  margin: 0;
  font-size: 26px;
  line-height: 30px;
  text-align: center;

  @media (min-width: $desktop-width) {
    font-size: 19px;
    line-height: 20px;
    text-align: initial;
  }
}

.contacts__link {
  color: $basic-black;
  font-size: 26px;
  line-height: 30px;

  @media (min-width: $desktop-width) {
    font-size: 19px;
    line-height: 20px;
  }

  &:hover,
  &:focus {
    color: $basic-green;
  }

  &:active {
    color: $basic-green;
    opacity: 0.3;
  }
}
