.gallery__list {
  @include list-none;

  position: relative;
}

.gallery__item {
  grid-row: 1/-1;
  grid-column: 1/-1;
  width: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;

  &.js-slide {
    display: none;

    &.js-slide-active {
      display: flex;
    }
  }
}

.gallery__img {
  max-height: 97vh;
  max-width: 100%;
  display: block;
  padding: 0;
  width: auto;
  height: auto;
  object-fit: cover;
  margin: auto;
  min-width: 200px;
}

.gallery__controls {
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translate(-50%, 0);
  z-index: 1;
}

.gallery__button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: $basic-white;
  text-decoration: none;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    color: $basic-green;
  }

  &:disabled {
    color: $basic-gray;
    cursor: initial;

    &:hover,
    &:focus {
      color: $basic-gray;
    }
  }
}
