.navigation {
  display: grid;
  grid-template-rows: auto;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.navigation__list {
  @include list-none;
  display: grid;
  align-items: center;
  justify-items: center;

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, auto);
    gap: 15px;
  }
}

.navigation__link {
  color: $basic-black;
  font-size: 26px;
  line-height: 30px;

  @media (min-width: $desktop-width) {
    font-size: 19px;
    line-height: 20px;
  }

  &:hover,
  &:focus {
    color: $basic-green;
  }

  &:active {
    color: $basic-green;
    opacity: 0.3;
  }
}
