.navigation__list {
  @include list-none;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 15px;
}

.navigation__link {
  font-size: 19px;
  line-height: 20px;
  color: $basic-black;

  &:hover,
  &:focus {
    color: $basic-green;
  }

  &:active {
    color: $basic-green;
    opacity: 0.3;
  }
}
