.page-main {
  padding-top: 40px;
  background-color: $special-blue;
}

.page-main__title {
  margin: 0;
  font-size: 28px;
  line-height: 30px;
}

.page-main__about {
  background-color: $special-blue;
  padding-top: 15px;
}

// .page-main__recent {
// }
