.page-header {
  background-color: $special-blue;
}

.page-header__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  min-height: 80px;
  border-bottom: 1px solid $basic-black;
}

.page-header__logo {
  display: flex;
  justify-content: center;
}

// .page-header__nav {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.page-header__contacts {
  display: grid;
  justify-items: end;
  grid-template-rows: repeat(2, 1fr);
}

.page-header__social {
  display: flex;
  justify-content: start;
  align-items: center;
}
