.page-header {
  height: 100vh;
  background-color: $special-blue;

  @media (min-width: $desktop-width) {
    height: auto;
  }
}

.page-header__wrapper {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  height: 100%;

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    min-height: 100px;
    border-bottom: 1px solid $basic-black;
  }
}

.page-header__nav {
  grid-row: 2/4;
}

.page-header__logo {
  display: flex;
  justify-content: center;
}

.page-header__contacts {
  grid-row: 4/6;
  display: grid;
  grid-template-rows: repeat(2, 1fr);

  @media (min-width: $desktop-width) {
    justify-items: end;
  }
}

.page-header__social {
  display: flex;
  justify-content: start;
  align-items: center;
}
