.social__list {
  @include list-none;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 15px;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__img {
  fill: $basic-black;
}

.social__link {
  &:hover,
  &:focus {
    .social__img {
      fill: $basic-green;
    }
  }

  &:active {
    .social__img {
      fill: transparentize($basic-green, 0.7);
    }
  }
}
