.social {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
}

.social__list {
  @include list-none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 155px;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__img {
  fill: #3f2d20;
}

.social__link {
  &:hover,
  &:focus {
    .social__img {
      fill: #008272;
    }
  }

  &:active {
    .social__img {
      fill: transparentize(#008272, 0.3);
    }
  }
}
