/* Viewports */

$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;

/* Color */
$basic-black: #3f2d20;
$basic-white: #ffffff;
$basic-green: #008272;

$basic-gray: #c9d0cab5;

$special-blue-darkest: #a0cce2;
$special-blue-darker: #bcdbea;
$special-blue-dark: #d7e9f3;
$special-blue: #f2f8fb;
